@charset "UTF-8";

.text-div {
  font-family: "Arial", serif;
  font-size: 1em;
}

.pagination-container {
  margin: 80px auto;
  text-align: center;
  position: relative;
}

.pagination {
  align-items: center;
  position: relative;
}

.pagination a {
  position: relative;
  display: inline-block;
  color: #2c3e50;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px 16px 10px;
}

.pagination a:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #17531a;
  border-radius: 24px;
  transform: scale(0);
  transition: all 0.2s;
}

.pagination a:hover,
.pagination a .pagination-active {
  color: #fff;
}

.pagination a:hover:before,
.pagination a .pagination-active:before {
  transform: scale(1);
}

.pagination .pagination-active {
  color: #fff;
}

.pagination .pagination-active:before {
  transform: scale(1);
}

.pagination-newer {
  margin-left: 9vmin;
  margin-right: 5rem;
}

.pagination-older {
  margin-left: 5rem;
}

.center_div {
  margin: 0 auto;
  width: 50%;
}

.btn-primary {
  background-color: #135516 !important;
}

@media (min-width: 768px) {
  .bg-image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
}

.card {
  height: 32rem;
}
